@import url('squittal-colors.css');

.main.overlay {
    /*background-image: url("../images/overlay_test_background.jpg");*/
    background-color: transparent;
    background-position: center center;
    margin: 4px 8px 8px 8px;
    font-family: "Roboto Mono", "Input Mono", Consolas, monospace;
    font-weight: 600;
}

    .overlay.wrapper {
        /*display: grid;*/
        /*grid-template-columns: 25% 50% 25%;
        grid-template-rows: 32px 1fr;
        grid-template-areas:
            "top  top    top"
            "left center right";
        grid-gap: 4px;*/
        /*background-image: url("../images/overlay_test_background.jpg");
        background-color: transparent;
        background-position: center center;*/
    }

/**********************
    Match Title
***********************/
    .overlay .title-container {
        position: relative;
        /*left: calc(50% - 175px);*/
        /*grid-area: top;*/
        text-align: center;
        /*background-color: orange;*/
        margin: 0;
    }

    .overlay .title-container .title-text {
        display: inline-block;
        /*vertical-align: middle;*/
        vertical-align: baseline;
        margin: 0;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 14px;
        letter-spacing: 5px;
        /*font-style: oblique;*/
        /*font-family: "Noto Sans", "Roboto Sans", "Segoe UI", sans-serif;*/
        font-family: "Roboto", "Segoe UI", sans-serif;
        font-weight: 700;
        text-shadow: 0 0 1px var(--sq-black);
        color: #FAF6FC;
    }

/**********************
    Team Players
***********************/
    .overlay .players {
        white-space: nowrap;
        width: calc(22% - 70px - 30px);
        box-sizing: border-box;
        /*background-color: mediumorchid;*/
        display: grid;
        grid-row-gap: 4px;
        font-weight: 500;
        font-size: 18px;
        /*color: var(--sq-ps2-primary);*/
        /*color: var(--sq-ov-ps2-primary);*/
        color: var(--sq-ov-ps2-primary-light);
    }

        .overlay .players.players1 {
            /*grid-area: left;*/
            float: left;
            grid-template-columns: 32px 1fr;
            text-align: left;
        }

        .overlay .players.players2 {
            /*grid-area: right;*/
            float: right;
            grid-template-columns: 1fr 32px;
            text-align: right;
        }

        .overlay .players .playerStatusContainer {
            display: grid;
            /*grid-template-rows: 25px 3px;*/
            grid-template-rows: 24px 4px;
            /*background-color: #1F233090;*/
            background-color: var(--sq-ov-bg-dark-gray-alpha-55);
            /*border: 1px solid #0F1320;*/
            border: 1px solid var(--sq-ov-bg-dark-gray);
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .overlay .players.players1 .playerStatusContainer {
            grid-template-columns: 1fr 70px;
            grid-template-areas:
                "name score"
                "event event";
            background: -moz-linear-gradient(-10deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
            background: linear-gradient(-10deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
            background: -webkit-linear-gradient(-10deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
            box-shadow: -1px 1px 3px rgba(47, 47, 47, 0.75);
            text-shadow: 0 0 1px var(--sq-black);
        }

            .overlay .players.players1 .playerStatusContainer:nth-child(2) {
                border-top-right-radius: 5px;
            }

            .overlay .players.players1 .playerStatusContainer:nth-last-child(1) {
                border-bottom-left-radius: 5px;
            }

        .overlay .players.players2 .playerStatusContainer {
            grid-template-columns: 70px 1fr;
            grid-template-areas:
                "score name"
                "event event";
            background: -moz-linear-gradient(170deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
            background: linear-gradient(170deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
            background: -webkit-linear-gradient(170deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
            box-shadow: 2px 1px 3px rgba(47, 47, 47, 0.75);
        }

            .overlay .players.players2 .playerStatusContainer:nth-child(1) {
                border-top-left-radius: 5px;
            }

            .overlay .players.players2 .playerStatusContainer:nth-last-child(2) {
                border-bottom-right-radius: 5px;
            }

        .overlay .players .playerStatusContainer .name {
            grid-area: name;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            z-index: 1;
        }

        .overlay .players .playerStatusContainer .score {
            grid-area: score;
            display: inline-block;
            box-sizing: border-box;
            z-index: 1;
        }

        .overlay .players.players1 .playerStatusContainer .score {
            text-align: right;
        }

        .overlay .players.players2 .playerStatusContainer .score {
            text-align: left;
        }

        .overlay .players.players1 .playerStatusContainer .name,
        .overlay .players.players2 .playerStatusContainer .score {
            padding-left: 4px;
        }

        .overlay .players.players2 .playerStatusContainer .name,
        .overlay .players.players1 .playerStatusContainer .score {
            padding-right: 4px;
        }

        .overlay .players .playerStatusContainer .eventMask {
            grid-area: event;
            height: 5px;
            position: relative;
            overflow: hidden;
            margin-top: -2px;
            z-index: 0;
        }

            .overlay .players .playerStatusContainer .eventMask:empty {
                border-top-color: transparent;
                border-right-color: transparent;
                border-left-color: transparent;
                border-style: outset;
                border-bottom-color: transparent;
            }

        .overlay .players .playerLoadoutIcon {
            display: inline-block;
            background-image: url('../images/even_borders/Icon_white_unknown_no_border_32.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-top: 2px;
            justify-self: center;
            /*filter: drop-shadow(0px 0px 2px var(--sq-ps2-primary), rgba(20, 20, 20, 0.8));*/
            /*filter: drop-shadow(0px 0px 2px var(--sq-ov-ps2-primary), rgba(20, 20, 20, 0.8));*/
            /*filter: drop-shadow(0px 0px 2px var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)));*/
            filter: drop-shadow(0px 0px 1px var(--sq-black));
            opacity: 0.9;
        }

.ps2-icon.medic {
    background-image: url('../images/Icon_white_combatMedic_32.png') !important;
}

.ps2-icon.la {
    background-image: url('../images/Icon_white_lightAssault_32.png') !important;
}

.ps2-icon.infil {
    background-image: url('../images/Icon_white_infiltrator_32.png') !important;
}

.ps2-icon.heavy {
    background-image: url('../images/Icon_white_heavyAssault_32.png') !important;
}

.ps2-icon.engy {
    background-image: url('../images/Icon_white_engineer_32.png') !important;
}

.ps2-icon.max {
    background-image: url('../images/Icon_white_max_32.png') !important;
}

.ps2-icon.unknown {
    background-image: url('../images/Icon_white_unknown_32.png') !important;
}



/*======================
    Center Content
========================*/
.overlay .center {
    /*background-color: darkcyan;
    /*grid-area: center;
    display: grid;
    grid-template-rows: 40px 96px 1fr;
    grid-template-areas:
        "scoreboard"
        "killfeed"
        "report";
    grid-gap: 4px;*/
}


/**********************
    Scoreboard
***********************/
.overlay .scoreboard {
    /*grid-area: scoreboard;
    background-color: aqua;*/
    border-radius: 1px;
    color: rgb(245, 245, 255);
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
}

    .overlay .scoreboard .outfitScoresContainer {
        display: inline-block;
        box-sizing: inherit;
        border-radius: 1px;
        -moz-transition: height 0.5s cubic-bezier(.86,0,.07,1);
        -webkit-transition: height 0.5s cubic-bezier(.86,0,.07,1);
        transition: height 0.5s cubic-bezier(.86,0,.07,1);
        color: rgb(35, 35, 35);
    }

        .overlay .scoreboard .outfitScoresContainer .outfitScoresRow {
            display: inline-block;
            /*height: 35px;*/
            border-top-width: 2px;
            border-top-style: solid;
            /*border-top-color: var(--sq-ov-ps2-primary, rgb(20, 20, 20));*/
            /*border-top-color: var(--sq-ps2-primary, rgb(20, 20, 20));*/
            border-top-color: var(--sq-ov-ps2-primary, rgb(20, 20, 20));
            -moz-transition: border 0.5s cubic-bezier(.86,0,.07,1);
            -webkit-transition: border 0.5s cubic-bezier(.86,0,.07,1);
            transition: border 0.5s cubic-bezier(.86,0,.07,1);
            border-bottom: 1px solid rgb(26, 26, 26) !important;
            box-sizing: inherit;
            background-color: rgb(35, 35, 35);
            font-size: 24px;
            /**/
            line-height: 1.25;
            height: 32px;
        }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team1 {
                box-shadow: -1px 1px 3px rgba(47, 47, 47, 0.75);
                border-left: 1px solid rgb(26, 26, 26) !important;
                background: -webkit-linear-gradient(-10deg, var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
                background: linear-gradient(-10deg, var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team2 {
                box-shadow: 2px 1px 3px rgba(47, 47, 47, 0.75);
                border-right: 1px solid rgb(26, 26, 26) !important;
                background: -webkit-linear-gradient(10deg, var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
                background: linear-gradient(10deg, var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)) 0%, rgb(35, 35, 35) 100%);
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow .outfitScore {
                display: inline-block;
                min-width: 80px;
                box-sizing: inherit;
                /**/
                color: var(--sq-bg-white-lit);
                height: 30px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team1 .outfitScore {
                text-align: right;
                padding-right: 5px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team2 .outfitScore {
                text-align: left;
                padding-left: 5px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow .outfitAlias {
                text-align: left;
                display: inline-block;
                width: 70px;
                font-weight: 500;
                box-sizing: inherit;
                /*color: var(--sq-ov-ps2-flavor, rgb(35, 35, 35));*/
                /*color: var(--sq-ps2-primary-light, rgb(35, 35, 35));*/
                color: var(--sq-ov-ps2-flavor, rgb(35, 35, 35));
                -moz-transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
                -moz-transition-delay: 1.5s;
                -webkit-transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
                -webkit-transition-delay: 1.5s;
                transition: 1s color cubic-bezier(.68,-0.55,.27,1.55);
                transition-delay: 1.5s;
                -moz-animation: flashTextShadow;
                -moz-animation-duration: 1.75s;
                -moz-animation-delay: 1.75s;
                -webkit-animation: flashTextShadow;
                -webkit-animation-duration: 1.75s;
                -webkit-animation-delay: 1.75s;
                animation: flashTextShadow;
                animation-duration: 1.75s;
                animation-delay: 1.75s;
                /**/
                height: 30px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team1 .outfitAlias {
                padding-left: 3px;
                border-bottom-left-radius: 1px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team2 .outfitAlias {
                text-align: right;
                padding-right: 3px;
                border-bottom-right-radius: 1px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow .wedge {
                border-bottom: 5px solid transparent !important;
                display: inline;
                border-left-color: transparent;
                border-right-color: transparent;
                -moz-transition: border 0.5s cubic-bezier(.86,0,.07,1);
                -webkit-transition: border 0.5s cubic-bezier(.86,0,.07,1);
                transition: border 0.5s cubic-bezier(.86,0,.07,1);
                box-sizing: inherit;
                /*border-top: 3px solid var(--sq-ps2-primary);*/
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team1 .wedge {
                /*border-right-width: 10px;*/
                border-right-style: solid;
                /*border-right-color: var(--sq-ov-ps2-primary, rgb(20, 20, 20));*/
                border-right-color: var(--sq-ov-ps2-primary, rgb(20, 20, 20));
                /**/
                border-right-width: 11px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team2 .wedge {
                /*border-left-width: 10px;*/
                border-left-style: solid;
                /*border-left-color: var(--sq-ov-ps2-primary, rgb(20, 20, 20));*/
                border-left-color: var(--sq-ov-ps2-primary, rgb(20, 20, 20));
                /**/
                border-left-width: 11px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow .factionLabel {
                font-size: 10px;
                display: inline-block;
                line-height: 1;
                /*height: 19px;*/
                /*padding-top: 8px;*/
                /*text-align: center;*/
                /*vertical-align: top;*/
                width: 0px;
                position: relative;
                box-sizing: inherit;
                color: rgb(20, 20, 20);
                -moz-transition-delay: 0.5s;
                -moz-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
                -webkit-transition-delay: 0.5s;
                -webkit-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
                transition-delay: 0.5s;
                transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
                /**/
                height: 32px;
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team1 .factionLabel {
                border-bottom-left-radius: 1px;
                left: -8.5px;
                /*color: var(--sq-ov-ps2-flavor, rgb(245, 245, 255));*/
                color: var(--sq-ov-ps2-flavor, rgb(245, 245, 255));
            }

            .overlay .scoreboard .outfitScoresContainer .outfitScoresRow.team2 .factionLabel {
                border-bottom-right-radius: 1px;
                left: 2px;
                /*color: var(--sq-ov-ps2-flavor, rgb(245, 245, 255));*/
                color: var(--sq-ov-ps2-flavor, rgb(245, 245, 255));
            }

            .tr .factionLabel {
                color: var(--sq-ov-ps2-primary-dark) !important;
            }


.inactiveWhiteText {
    color: rgba(35, 35, 35, 0.2);
    -moz-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    -moz-transition-delay: 0.5s;
    -webkit-transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    -webkit-transition-delay: 0.5s;
    transition: color 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 0.5s;
}

.activeWhiteText {
    color: rgb(245, 245, 255);
    -moz-transition: color 0.75s cubic-bezier(.68,-0.55,.27,1.55);
    -moz-transition-delay: 0.5s;
    -webkit-transition: color 0.75s cubic-bezier(.68,-0.55,.27,1.55);
    -webkit-transition-delay: 0.5s;
    transition: color 0.75s cubic-bezier(.68,-0.55,.27,1.55);
    transition-delay: 0.5s;
}


/* TIMER STUFF */
.timerContainer {
    display: inline-block;
    background-color: rgb(35, 35, 35);
    -moz-transition: height 1s, width 1s ease-in-out;
    -webkit-transition: height 1s, width 1s ease-in-out;
    transition: height 1s, width 1s ease-in-out;
    vertical-align: top;
    /*height: 39.5px;*/
    box-sizing: inherit;
    border: 2px solid rgb(26, 26, 26);
    /*
    border-left-color: rgb(255, 216, 58);
    border-right-color: rgb(255, 216, 58);
    border-left-width: 2px;
    border-right-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom: 2px solid rgb(26, 26, 26);
    border-top: 2px solid rgb(26, 26, 26);
    */
    color: rgb(245, 245, 255);
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.9) 10%, rgba(35, 35, 35, 0.9) 100%);
    /**/
    height: 36.5px;
}

    .timerContainer .timer-text {
        text-align: center;
        /*vertical-align: top;*/
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: inherit;
        /*font-size: 38px;*/
        -moz-transition: color 1s, font-size 1s, padding 2s cubic-bezier(.86,0,.07,1);
        -webkit-transition: color 1s, font-size 1s, padding 2s cubic-bezier(.86,0,.07,1);
        transition: color 1s, font-size 1s, padding 2s cubic-bezier(.86,0,.07,1);
        /*line-height: 0.95;*/
        /**/
        font-size: 32px;
        line-height: 1;
    }

/**********************
    Killfeed
***********************/
    /*.overlay .killfeed {
        grid-area: killfeed;
        background-color: aquamarine;
    }*/

.killfeed {
    display: inline-block;
    width: 400px;
    box-sizing: inherit;
    position: relative;
    top: -15px;
    text-shadow: 0px 0px 1px #141414;
    line-height: 1.2;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    z-index: -1;
    padding-top: 20px;
    -moz-transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    filter: drop-shadow(0px 0px 1px rgb(20, 20, 20));
}

    .killfeed table {
        margin: auto;
    }

    .killfeed.killfeedInactive {
        height: 25px;
    }

/* TODO: remove this, probably */
#killfeedContainer::after {
    display: none;
    box-sizing: inherit;
    width: 30px;
    position: relative;
    left: calc(50% - 15px);
    bottom: -5px;
    content: "";
    border-top: 5px double rgba(255, 216, 58, 0.8);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.killfeedHeader {
    font-weight: 400;
    font-size: 10px;
    color: rgb(69, 69, 69);
    display: none;
}

.killfeedBody {
    overflow-y: hidden;
    box-sizing: inherit;
    box-sizing: border-box;
    max-width: 394px;
}

.killfeedRowContainer {
    display: grid;
    text-align: center;
    grid-gap: 7px;
    box-sizing: border-box;
    grid-template-columns: 16px 1fr 35px 1fr 1fr;
    padding: 0px 5px 0px 5px;
    max-width: calc(375px - 8px);
    /*-moz-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 8s 1 normal forwards eventFadeOut;*/
    /*-webkit-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 8s 1 normal forwards eventFadeOut;*/
    /*animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 8s 1 normal forwards eventFadeOut;*/
    /*-moz-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn;
    -webkit-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn;
    animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn;*/
}

    .killfeedRowContainer.animateIn {
        -moz-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn;
        -webkit-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn;
        animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn;
    }

    .killfeedRowContainer.animateOut {
        /*-moz-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 8s 1 normal forwards eventFadeOut;
        -webkit-animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 8s 1 normal forwards eventFadeOut;
        animation: 0.5s cubic-bezier(.17,.84,.44,1) 0s 1 normal forwards eventFadeIn, 1s cubic-bezier(.6,-0.28,.74,.05) 8s 1 normal forwards eventFadeOut;*/
        /**/
        /*opacity: 0.5;*/
        transform-origin: center;
        -moz-animation: 1s cubic-bezier(.6,-0.28,.74,.05) 0s 1 normal forwards eventFadeOut;
        -webkit-animation: 1s cubic-bezier(.6,-0.28,.74,.05) 0s 1 normal forwards eventFadeOut;
        animation: 1s cubic-bezier(.6,-0.28,.74,.05) 0s 1 normal forwards eventFadeOut;
    }

.killfeedRowContainer.expired {
    opacity: 0;
}

.killfeedRowContainer {
    padding-top: 3px;
}

.killfeedCell {
    text-align: left;
    box-sizing: inherit;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}


.weaponPointsContainer {
    display: grid;
    grid-template-columns: 80px 30px;
    box-sizing: inherit;
    grid-gap: 5px;
}

.killWeapon {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.killfeedCell.killfeedWeapon {
    width: 105px;
    /*-webkit-filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));*/
    filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
}

.killPoints {
    text-align: right;
}

.killfeedCell.killfeedPoints {
    width: 30px;
    text-align: right !important;
    /*-webkit-filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));*/
    filter: drop-shadow(0px 0px 2px rgba(20, 20, 20, 0.8));
}

.killfeedCell.killfeedPlayer1, .killfeedCell.killfeedPlayer2, .killfeedCell.killfeedPlayer3 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 124px;
}

.killfeedCell.killfeedPlayer {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--sq-ov-ps2-primary-light, rgb(245, 245, 255));
    /*-webkit-filter: drop-shadow(0px 0px 2px var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)));*/
    filter: drop-shadow(0px 0px 2px var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)));
}

    .killfeedCell.killfeedPlayer.killfeedWinner {
        text-align: left;
    }

    .killfeedCell.killfeedPlayer.killfeedLoser {
        text-align: left;
    }

.killfeedCell.killfeedHeadshot {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    justify-self: center;
    filter: drop-shadow(0px 0px 2px var(--sq-ov-ps2-primary-dark-alpha-80, rgba(20, 20, 20, 0.8)));
    opacity: 0.9;
}

.headshot {
    background-image: url('../images/Icon_fisu_headshot_32.png') !important;
}


@-moz-keyframes eventFadeIn {
    from {
        opacity: 0;
        /*opacity: 0.25;*/
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes eventFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes eventFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-moz-keyframes eventFadeOut {
    from {
        opacity: 1;
        height: initial;
        width: initial;
        top: 0px;
    }

    to {
        /*opacity: 0.25;*/
        opacity: 0;
        color: rgba(245, 245, 255, 0);
        /*width: 0px;*/
        height: 0px;
        display: none;
        padding-top: 0px;
        top: 10px;
    }
}

@-webkit-keyframes eventFadeOut {
    from {
        opacity: 1;
        height: initial;
        width: initial;
        top: 0px;
    }

    to {
        /*opacity: 0.25;*/
        opacity: 0;
        color: rgba(245, 245, 255, 0);
        /*width: 0px;*/
        height: 0px;
        display: none;
        padding-top: 0px;
        top: 10px;
    }
}

@keyframes eventFadeOut {
    from {
        opacity: 1;
        height: initial;
        width: initial;
        top: 0px;
    }

    to {
        /*opacity: 0.25;*/
        opacity: 0;
        color: rgba(245, 245, 255, 0);
        /*width: 0px;*/
        height: 0px;
        display: none;
        padding-top: 0px;
        top: 10px;
    }
}

/**********************
    Stats Report
       - Infantry Match Report
***********************/
    /*.overlay .report {
        grid-area: report;
        background-color: chartreuse;
    }*/

.overlay .match-report {
    position: absolute;
    /*top: 112%;*/
    /*position: fixed;*/
    top: 88px;
    left: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "team1" "spacer" "team2";
    font-size: 18px;
    font-weight: 500;
}

    .overlay .match-report .team-report {
        display: grid;
        grid-gap: 0px;
        /*color: var(--sq-ps2-nc-primary-light, rgb(245, 245, 255));*/
        color: var(--sq-ov-ps2-primary-light, rgb(245, 245, 255));
        margin: 8px;
        padding: 5px;
        border: 1px solid var(--sq-ov-bg-dark-gray);
        background-color: var(--sq-ov-bg-dark-gray-alpha-55);
    }

    .overlay .match-report .team-report.team1 {
        grid-area: team1;
        border-top-left-radius: 5px;
        /*background: linear-gradient(-10deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);*/
        background: -moz-linear-gradient(-60deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
        background: -webkit-linear-gradient(-60deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
        background: linear-gradient(150deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
        box-shadow: -1px 1px 3px rgba(47, 47, 47, 0.75);
    }

    .overlay .match-report .team-report.team2 {
        grid-area: team2;
        border-bottom-right-radius: 5px;
        /*background: linear-gradient(170deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);*/
        background: -moz-linear-gradient(150deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
        background: -webkit-linear-gradient(150deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
        background: linear-gradient(-60deg, var(--sq-ov-ps2-primary-dark-alpha-80) 0%, var(--sq-ov-bg-dark-gray-alpha-90) 60%);
        box-shadow: 2px 1px 3px rgba(47, 47, 47, 0.75);
    }

    .overlay .match-report .stats-row {
        display: grid;
        grid-template-columns: 1fr 55px 100px repeat(6, 90px);
        grid-template-areas: "label score graph net kills deaths hsr assists utils";
        grid-gap: 5px;
        text-align: left;
    }

        .overlay .match-report .stats-row.player {
            border-top: 1px outset var(--sq-ov-ps2-flavor-50, rgba(35, 35, 35, 0.55));
            padding: 4px 0px 4px 0px;
            margin: 2px 0px 2px 0px;
        }

            .overlay .match-report .stats-row.player:nth-child(3) {
                border-top: 0px solid transparent !important;
            }

    .overlay .match-report .stats-row-header {
        display: grid;
        /*color: var(--sq-ov-ps2-flavor, --sq-ov-bg-dark-gray);*/
        color: var(--sq-ov-ps2-primary-light, --sq-ov-bg-dark-gray);
        grid-template-columns: 1fr 155px repeat(6, 90px);
        grid-template-areas: "label score net kills deaths hsr assists utils";
        grid-gap: 5px;
        text-align: left;
        margin-bottom: 2px;
        margin-top: 5px;
    }

    .overlay .match-report .stats-row.team {
        font-size: 24px;
        color: var(--sq-ov-ps2-flavor, --sq-ov-bg-dark-gray);
        border-top: 2px solid var(--sq-ov-ps2-primary, --sq-ov-bg-dark-gray);
        border-left: 4px solid var(--sq-ov-ps2-primary, --sq-ov-bg-dark-gray);
        border-bottom: 4px solid transparent;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 0px 0px 0px;
    }

    .overlay .match-report .stats-row-header .stats-col-header {
        margin-top: auto;
        vertical-align: bottom;
        padding-bottom: 2px;
        box-sizing: border-box;
        font-size: smaller;
    }

            .overlay .match-report .stats-row-header .stats-col-header.score {
                grid-area: score;
                text-align: left;
            }

        .overlay .match-report .stats-row .stats-value {
            padding: 0px;
            margin: 0px;
            grid-gap: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .overlay .match-report .stats-row .label {
            grid-area: label;
            text-align: left;
            border-left: 4px solid transparent;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .overlay .match-report .stats-row .player .label {
            padding-left: 8px;
        }

        .overlay .match-report .stats-row .stats-value.score {
            grid-area: score;
            text-align: right;
        }

        .overlay .match-report .stats-row .stats-value.graph, .stats-col-header.graph {
            grid-area: graph;
        }

        .overlay .match-report .stats-row .graph .graph-bar {
            height: 18px;
            margin: 3px 0px 3px 0px;
            background-color: var(--sq-ov-ps2-primary);
            opacity: 0.9;
            box-sizing: border-box;
            border: 1px solid var(--sq-ov-ps2-primary-dark-alpha-80);
            border-left: 2px solid var(--sq-ov-ps2-primary-dark);
        }

        .overlay .match-report .stats-row .stats-value.net, .stats-col-header.net {
            grid-area: net;
        }

        .overlay .match-report .stats-row .stats-value.kills, .stats-col-header.kills {
            grid-area: kills;
        }

        .overlay .match-report .stats-row .stats-value.deaths, .stats-col-header.deaths {
            grid-area: deaths;
        }

        .overlay .match-report .stats-row .stats-value.hsr, .stats-col-header.hsr {
            grid-area: hsr;
        }

        .overlay .match-report .stats-row .stats-value.assists, .stats-col-header.assists {
            grid-area: assists;
        }

        .overlay .match-report .stats-row .stats-value.utils, .stats-col-header.utils {
            grid-area: utils;
        }

        .overlay .match-report .stats-row .stats-value.hsr, .stats-col-header.hsr {
            grid-area: hsr;
        }