@import url('squittal-colors.css');

/* Ellipsis Spinner
     - credit to https://loading.io/css/ for starting point
*/

.thin .spinner-ellipsis {
    margin: 4px auto 8px auto;
/*    height: 24px !important;*/
}

.inline .spinner-ellipsis {
    margin: 0px 16px 0px 16px;
    display: inline-block;
/*    height: 24px;*/
    height: 18px;
}

.thin .spinner-ellipsis .dot {
    top: 16px; 
}

.inline .spinner-ellipsis .dot {
    top: 8px;
}

.spinner-ellipsis {
    position: relative;
    width: 64px;
    height: 2rem;
    margin: 0.5rem auto 2rem auto;
}

    .spinner-ellipsis .dot {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 0.2rem;
        background: var(--bs-pink-alpha);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        opacity: 0.85;
    }

        .spinner-ellipsis .dot:nth-child(1) {
            left: 6px;
            animation: spinner-ellipsis-grow 0.6s infinite;
            background: var(--sq-ps2-vs-primary);
        }

        .spinner-ellipsis .dot:nth-child(2) {
            left: 6px;
            animation: spinner-ellipsis-move-vs-nc 0.6s infinite;
            background: var(--sq-ps2-nc-primary);
        }

        .spinner-ellipsis .dot:nth-child(3) {
            left: 26px;
            animation: spinner-ellipsis-move-nc-tr 0.6s infinite;
            background: var(--sq-ps2-nc-primary);
        }

        .spinner-ellipsis .dot:nth-child(4) {
            left: 45px;
            animation: spinner-ellipsis-shrink 0.6s infinite;
            background: var(--sq-ps2-tr-primary);
        }

td .spinner-ellipsis {
    position: relative;
    width: 64px;
    /*height: 2rem;*/
    height: 1rem;
    /*margin: 0.5rem auto 2rem auto;*/
    margin: 0.2rem auto 0.2rem auto;
}

    td .spinner-ellipsis .dot {
        top: 3px;
    }


@keyframes spinner-ellipsis-grow {
    0% {
        transform: scale(0);
        border-radius: 50%;
        background: var(--sq-ps2-ns-primary);
    }

    100% {
        transform: scale(1);
        border-radius: 0.2rem;
        background: var(--sq-ps2-vs-primary);
    }
}

@keyframes spinner-ellipsis-shrink {
    0% {
        transform: scale(1);
        border-radius: 0.2rem;
    }

    100% {
        transform: scale(0);
        border-radius: 50%;
    }
}

@keyframes spinner-ellipsis-move-vs-nc {
    0% {
        transform: translate(0, 0);
        background: var(--sq-ps2-vs-primary);
    }

    100% {
        transform: translate(19px, 0);
        background: var(--sq-ps2-nc-primary);
    }
}

@keyframes spinner-ellipsis-move-nc-tr {
    0% {
        transform: translate(0, 0);
        background: var(--sq-ps2-nc-primary);
    }

    100% {
        transform: translate(19px, 0);
        background: var(--sq-ps2-tr-primary);
    }
}