:root {
    --sq-pink: #e0397e;
    --sq-pink-darker: #B32D64;
    --sq-pink-lighter: #e34f8c;
    --sq-pink-lightest: rgb(251,231,240);
    --sq-pink-lighter-alpha-80: rgba(227, 79, 140, 0.8);
    --sq-pink-lighter-alpha-50: rgba(227, 79, 140, 0.5);
    --sq-pink-lighter-alpha-40: rgba(227, 79, 140, 0.4);
    --sq-pink-lighter-alpha-30: rgba(227, 79, 140, 0.3);
    --sq-pink-lighter-alpha-25: rgba(227, 79, 140, 0.25);
    --sq-pink-lighter-alpha-125: rgba(227, 79, 140, 0.125);
    --sq-pink-lighter-alpha-10: rgba(227, 79, 140, 0.1);
    --sq-light-blue-gray: #d4d4ff;
    --sq-light-blue-gray-alpha: #d4d4ff50;
    --sq-light-blue-gray-alpha-5a: #d4d4ff5a;
    --sq-light-blue-gray-alpha-80: #d4d4ff80;
    --sq-light-blue-gray-alpha-a0: #d4d4ffa0;
    --sq-bg-white-lit: #fcf6ff;
    --sq-bg-white-lit-alpha-30: rgba(252, 246, 255, 0.3);
    --sq-bg-white-unlit: #f6f0ff;
    --sq-black: #27273A;
    --sq-black-alpha-50: #27273A50;
    --sq-gray: #79839C;
    --sq-logo-purple: #361862;
    --sq-yellow: #F8BA0F;
    --sq-bg-yellow: #FEF9BF;
    --sq-bg-yellow-alpha-a0: #FEF9BFa0;
    --sq-bg-red: #fad4df;
    --sq-bg-red-alpha-80: #fad4df80;
    --sq-bg-red-alpha-a0: #fad4dfa0;
    --sq-ps2-vs-primary: #652fdc;
    --sq-ps2-nc-primary: #1e62fc;
    --sq-ps2-tr-primary: #e04c70;
    --sq-ps2-ns-primary: #27273A;
    --sq-ps2-vs-primary-light: #CABCFF;
    --sq-ps2-nc-primary-light: #B6DDFD;
    --sq-ps2-tr-primary-light: #FFD2D3;
    --sq-ps2-ns-primary-light: #a4a4c2;
    --sq-ps2-vs-primary-light-alpha: #CABCFF30;
    --sq-ps2-nc-primary-light-alpha: #B6DDFD30;
    --sq-ps2-tr-primary-light-alpha: #FFD2D330;
    --sq-ps2-ns-primary-light-alpha: #a4a4c230;
    --sq-ps2-vs-primary-light-alpha-40: #CABCFF40;
    --sq-ps2-nc-primary-light-alpha-40: #B6DDFD40;
    --sq-ps2-tr-primary-light-alpha-40: #FFD2D340;
    --sq-ps2-ns-primary-light-alpha-40: #a4a4c240;
    --sq-pale-purple: #b7a8d7;
    --sq-pale-purple-alpha-a0: #b7a8d7a0;
    --bs-blue: #007bff;
    --bs-blue-alpha: #007bff10;
    --bs-gray: #6c757d;
    --bs-gray-alpha: #6c757d15;
    --bs-pink-alpha: #e83e8c25;
    /*
        Overlay Colors
    */
    --sq-ov-bg-dark-gray: #1F2330;
    --sq-ov-bg-dark-gray-alpha-33: rgba(31, 35, 48, 0.33); /*1F233056*/
    --sq-ov-bg-dark-gray-alpha-55: rgba(31, 35, 48, 0.55); /*#1F233090*/
    --sq-ov-bg-dark-gray-alpha-90: rgba(31, 35, 48, 0.90); /*#1F2330E5
    /*--sq-ov-bg-dark-gray-alpha-90: rgba(0, 0, 15, 0.8);*/
}


.vs { /*, .vs div, .vs button, .vs p, .vs span {*/
    --sq-ps2-primary: #652fdc;
    --sq-ps2-primary-light: #CABCFF;
    --sq-ps2-primary-light-alpha-10: #CABCFF10;
    --sq-ps2-primary-light-alpha-30: #CABCFF30;
    --sq-ps2-primary-light-alpha-40: #CABCFF40;
    --sq-ps2-primary-light-alpha-80: #CABCFF80;
    /* Overlay Colors */
    --sq-ov-ps2-primary: rgb(112, 80, 237);
    --sq-ov-ps2-primary-alpha-75: rgba(112, 80, 237, 0.75);
    --sq-ov-ps2-primary-alpha-50: rgba(112, 80, 237, 0.5);
    --sq-ov-ps2-primary-dark: rgb(46, 33, 96);
    --sq-ov-ps2-primary-dark-alpha-80: rgba(46, 33, 96, 0.8);
    --sq-ov-ps2-primary-dark-alpha-70: rgba(46, 33, 96, 0.7);
    --sq-ov-ps2-primary-light: rgb(202, 188, 255);
    --sq-ov-ps2-primary-lightest: rgb(228,222,252);
    /*--sq-ov-ps2-flavor: rgb(184, 233, 227);*/
    /*--sq-ov-ps2-flavor-alpha-50: rgba(184, 233, 227, 0.5);*/
    --sq-ov-ps2-flavor: #adf4eb;
    --sq-ov-ps2-flavor-alpha-50: rgba(173,244,235, 0.5);
}

.nc { /*, .nc div, .nc button, .nc p, .nc span {*/
    --sq-ps2-primary: #1e62fc;
    --sq-ps2-primary-light: #B6DDFD;
    --sq-ps2-primary-light-alpha-10: #B6DDFD10;
    --sq-ps2-primary-light-alpha-30: #B6DDFD30;
    --sq-ps2-primary-light-alpha-40: #B6DDFD40;
    --sq-ps2-primary-light-alpha-80: #B6DDFD80;
    /* Overlay Colors */
    --sq-ov-ps2-primary: rgb(30, 153, 252);
    --sq-ov-ps2-primary-alpha-75: rgba(30, 153, 252, 0.75);
    --sq-ov-ps2-primary-alpha-50: rgba(30, 153, 252, 0.5);
    --sq-ov-ps2-primary-dark: rgb(7, 37, 61);
    --sq-ov-ps2-primary-dark-alpha-80: rgba(7, 37, 61, 0.8);
    --sq-ov-ps2-primary-dark-alpha-70: rgba(7, 37, 61, 0.7);
    --sq-ov-ps2-primary-light: rgb(182, 221, 253);
    --sq-ov-ps2-primary-lightest: rgb(224,241,255);
    --sq-ov-ps2-flavor: rgb(255, 247, 175);
    --sq-ov-ps2-flavor-alpha-50: rgba(255, 247, 175, 0.5);
}

.tr { /*, .tr div, .tr button, .tr p, .tr span {*/
    --sq-ps2-primary: #e04c70;
    --sq-ps2-primary-light: #FFD2D3;
    --sq-ps2-primary-light-alpha-10: #FFD2D310;
    --sq-ps2-primary-light-alpha-30: #FFD2D330;
    --sq-ps2-primary-light-alpha-40: #FFD2D340;
    --sq-ps2-primary-light-alpha-80: #FFD2D380;
    /* Overlay Colors */
    /*--sq-ov-ps2-primary: rgb(255, 108, 112);*/
    /*--sq-ov-ps2-primary: #ea506a;*/
    --sq-ov-ps2-primary: rgb(234, 80, 106);
    --sq-ov-ps2-primary-alpha-75: rgba(234, 80, 106, 0.75);
    --sq-ov-ps2-primary-alpha-50: rgba(234, 80, 106, 0.5);
    --sq-ov-ps2-primary-dark: rgb(64, 27, 28);
    --sq-ov-ps2-primary-dark-alpha-80: rgba(64, 27, 28, 0.8);
    --sq-ov-ps2-primary-dark-alpha-70: rgba(64, 27, 28, 0.7);
    --sq-ov-ps2-primary-light: rgb(255, 190, 191);
    --sq-ov-ps2-primary-lightest: rgb(251,220,225);
    /*--sq-ov-ps2-flavor: rgb(229, 217, 212);
    --sq-ov-ps2-flavor-alpha-50: rgba(229, 217, 212, 0.5);*/
    --sq-ov-ps2-flavor: #dae0e5; /* Gray */
    --sq-ov-ps2-flavor-alpha-50: rgba(212,224,229, 0.5); /* Gray */
}

.ns { /*, .ns div, .ns button, .ns p, .ns span {*/
    --sq-ps2-primary: #27273A;
    --sq-ps2-primary-light: #a4a4c2;
    --sq-ps2-primary-light-alpha-10: #a4a4c210;
    --sq-ps2-primary-light-alpha-30: #a4a4c230;
    --sq-ps2-primary-light-alpha-40: #a4a4c240;
    --sq-ps2-primary-light-alpha-80: #a4a4c280;
}

.default {
    --sq-ps2-primary: var(--sq-pink-darker);
    --sq-ps2-primary-light: var(--sq-pink-lighter);
    --sq-ps2-primary-ligh-alpha-10: var(--sq-pink-lighter-alpha-10);
    --sq-ps2-primary-ligh-alpha-30: var(--sq-pink-lighter-alpha-30);
    --sq-ps2-primary-ligh-alpha-40: var(--sq-pink-lighter-alpha-40);
    --sq-ps2-primary-ligh-alpha-80: var(--sq-pink-lighter-alpha-80);
    /* Overlay Colors */
    /*--sq-ov-ps2-primary: var(--sq-pink);*/
    /*--sq-ov-ps2-primary: rgb(10, 0, 25, 0.8);*/
    --sq-ov-ps2-primary: rgb(0, 0, 15);
    --sq-ov-ps2-primary-alpha-75: rgba(0, 0, 15, 0.75);
    --sq-ov-ps2-primary-alpha-50: rgba(0, 0, 15, 0.5);
    /*--sq-ov-ps2-primary-dark: var(--sq-pink-darker);*/
    /*--sq-ov-ps2-primary-dark: #652fdc;*/
    --sq-ov-ps2-primary-dark: rgb(25, 20, 30, 1);
    /*--sq-ov-ps2-primary-dark-alpha-80: rgba(179, 45, 100, 0.8);*/
    /*--sq-ov-ps2-primary-dark-alpha-70: rgba(179, 45, 100, 0.7);*/
    /*--sq-ov-ps2-primary-dark-alpha-80: rgba(101, 47, 220, 0.8);*/
    /*--sq-ov-ps2-primary-dark-alpha-70: rgba(101, 47, 220, 0.7);*/
    --sq-ov-ps2-primary-dark-alpha-80: rgba(0, 0, 15, 0.8);
    --sq-ov-ps2-primary-dark-alpha-70: rgba(0, 0, 15, 0.7);
    --sq-ov-ps2-primary-light: var(--sq-pink-lighter);
    --sq-ov-ps2-primary-lightest: var(--sq-pink-lightest);
    --sq-ov-ps2-flavor: #d4d4ff;
    --sq-ov-ps2-flavor-alpha-50: rgba(212, 212, 255, 0.5);
}

.test {
    --test-navy-black: rgb(25, 20, 30, 1);
    --test-navy-black-alpha-80: rgb(0, 0, 15, 0.8);
    --test-pink-black-alpha-80: rgb(10, 0, 25, 0.8);
    --test-ov-pink-light: #ff75af;
}
