USE [PlanetmansDbContext]
GO

SET NOCOUNT ON;

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'ItemCategory' )
BEGIN
    
  CREATE TABLE #Staging_ItemCategory
    ( Id               int NOT NULL,
      Name             nvarchar(max) NULL,
      Domain           int NOT NULL,
      IsWeaponCategory bit not NULL );


  MERGE [dbo].[ItemCategory] as target
    USING ( SELECT Id, Name, Domain, IsWeaponCategory FROM #Staging_ItemCategory ) as source
      ON ( target.Id = source.Id )
    WHEN MATCHED THEN
      UPDATE SET Name = source.Name,
                 Domain = source.Domain,
                 IsWeaponCategory = source.IsWeaponCategory
    WHEN NOT MATCHED THEN
      INSERT ( [Id], [Name], [Domain], [IsWeaponCategory] )
      VALUES ( source.Id, source.Name, source.Domain, source.IsWeaponCategory );
  
  DROP TABLE #Staging_ItemCategory;

END;