USE [PlanetmansDbContext]
GO

SET NOCOUNT ON;

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'Loadout' )
BEGIN
    
  CREATE TABLE #Staging_Loadout
    ( Id        int NOT NULL,
      ProfileId int NOT NULL,
      FactionId int NOT NULL,
      CodeName  nvarchar(max) NULL );


  MERGE [dbo].[Loadout] as target
    USING ( SELECT Id, ProfileId, FactionId, CodeName FROM #Staging_Loadout ) as source
      ON ( target.Id = source.Id )
    WHEN MATCHED THEN
      UPDATE SET ProfileId = source.ProfileId,
                 FactionId = source.FactionId,
                 CodeName = source.CodeName
    WHEN NOT MATCHED THEN
      INSERT ( [Id], [ProfileId], [FactionId], [CodeName] )
      VALUES ( source.Id, source.ProfileId, source.FactionId, source.CodeName );
  
  DROP TABLE #Staging_Loadout;

END;