USE [PlanetmansDbContext]
GO

SET NOCOUNT ON;

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'MapRegion' )
BEGIN
    
  CREATE TABLE #Staging_MapRegion
    ( Id             int NOT NULL,
      FacilityId     int NOT NULL,
      FacilityName   nvarchar(max) NULL,
      FacilityTypeId int NOT NULL,
      FacilityType   nvarchar(max) null,
      ZoneId         int NOT NULL );


  MERGE [dbo].[MapRegion] as target
    USING ( SELECT Id, FacilityId, FacilityName, FacilityTypeId, FacilityType, ZoneId FROM #Staging_MapRegion ) as source
      ON ( target.Id = source.Id AND target.FacilityId = source.FacilityId )
    WHEN MATCHED THEN
      UPDATE SET FacilityId = source.FacilityId,
                 FacilityName = source.FacilityName,
                 FacilityTypeId = source.FacilityTypeId,
                 FacilityType = source.FacilityType,
                 ZoneId = source.ZoneId
    WHEN NOT MATCHED THEN
      INSERT ( [Id], [FacilityId], [FacilityName], [FacilityTypeId], [FacilityType], [ZoneId] )
      VALUES ( source.Id, source.FacilityId, source.FacilityName, source.FacilityTypeId, source.FacilityType, source.ZoneId );
  
  DROP TABLE #Staging_MapRegion;
    
END;