USE [PlanetmansDbContext]
GO

SET NOCOUNT ON;

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'Item' )
BEGIN
    
  CREATE TABLE #Staging_Item
    ( Id              int NOT NULL,
      ItemTypeId      int NULL,
      ItemCategoryId  int NULL,
      IsVehicleWeapon bit NOT NULL,
      Name            nvarchar(max) NULL,
      Description     nvarchar(max) NULL,
      FactionId       int NULL,
      MaxStackSize    int NULL,
      ImageId         int NULL );

    

  MERGE [dbo].[Item] as target
    USING ( SELECT Id, ItemTypeId, ItemCategoryId, IsVehicleWeapon, Name, Description, MaxStackSize, ImageId FROM #Staging_Item ) as source
      ON ( target.Id = source.Id )
    WHEN MATCHED THEN
      UPDATE SET ItemTypeId = source.ItemTypeId,
                 ItemCategoryId = source.ItemCategoryId,
                 IsVehicleWeapon = source.IsVehicleWeapon,
                 Name = source.Name,
                 Description = source.Description,
                 MaxStackSize = source.MaxStackSize,
                 ImageId = source.ImageId
    WHEN NOT MATCHED THEN
      INSERT ( [Id], [ItemTypeId], [ItemCategoryId], [IsVehicleWeapon], [Name], [Description], [MaxStackSize], [ImageId] )
      VALUES ( source.Id, source.ItemTypeId, source.ItemCategoryId, source.IsVehicleWeapon, source.Name, source.Description, source.MaxStackSize, source.ItemTypeId );
  
  DELETE FROM [dbo].[Item]
    WHERE ItemCategoryId IN ( 99, 101, 103, 105, 106, 107, 108, 133, 134, 135, 136, 137, 139, 140, 141, 142, 143, 145, 146, 148 )
       OR ItemCategoryId IS NULL;

  DROP TABLE #Staging_Item;
    
END;