USE [PlanetmansDbContext_Conquest];
GO

SET NOCOUNT ON;

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'Profile' )
BEGIN
    
  CREATE TABLE #Staging_Profile
    ( Id            int NOT NULL,
      ProfileTypeId int NOT NULL,
      FactionId     int NOT NULL,
      Name          nvarchar(max) NULL,
      ImageId       nvarchar(max) NULL );


  MERGE [dbo].[Profile] as target
    USING ( SELECT Id, ProfileTypeId, FactionId, Name, ImageId FROM #Staging_Profile ) as source
      ON ( target.Id = source.Id )
    WHEN MATCHED THEN
      UPDATE SET ProfileTypeId = source.ProfileTypeId,
                 FactionId = source.FactionId,
                 Name = source.Name,
                 ImageId = source.ImageId
    WHEN NOT MATCHED THEN
      INSERT ( [Id], [ProfileTypeId], [FactionId], [Name], [ImageId] )
      VALUES ( source.Id, source.ProfileTypeId, source.FactionId, source.Name, source.ImageId );
  
  DROP TABLE #Staging_Profile;

END;