USE [PlanetmansDbContext]
GO

SET NOCOUNT ON;

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'Zone' )
BEGIN
    
  CREATE TABLE #Staging_Zone
    ( Id          int NOT NULL,
      Name        nvarchar(max) NULL,
      Description nvarchar(max) NULL,
      Code        nvarchar(max) NULL,
      HexSize     int NULL );


  MERGE [dbo].[Zone] as target
    USING ( SELECT Id, Name, Description, Code, HexSize FROM #Staging_Zone ) as source
      ON ( target.Id = source.Id )
    WHEN MATCHED THEN
      UPDATE SET Name = source.Name,
                 Description = source.Description,
                 Code = source.Code,
                 HexSize = source.HexSize
    WHEN NOT MATCHED THEN
      INSERT ( [Id], [Name], [Description], [Code], [HexSize] )
      VALUES ( source.Id, source.Name, source.Description, source.Code, source.HexSize );
  
  DROP TABLE #Staging_Zone;

END