@page "/Reports/{i_scrimMatchId}"
@page "/MatchReport/{i_scrimMatchId}"
@page "/ReportBrowser/{i_scrimMatchId}"

@using squittal.ScrimPlanetmans.App.Pages.Shared;
@using squittal.ScrimPlanetmans.Data.Models;
@using squittal.ScrimPlanetmans.Models.ScrimMatchReports;
@using squittal.ScrimPlanetmans.Services.ScrimMatchReports;
@using squittal.ScrimPlanetmans.ScrimMatch.Models;
@using squittal.ScrimPlanetmans.Services.ScrimMatch;
@using System.Text.RegularExpressions;
@using squittal.ScrimPlanetmans.ScrimMatch.Messages;
@using Microsoft.AspNetCore.WebUtilities @*for QueryHelpers*@

@inject IScrimMatchReportDataService ReportDataService
@inject IScrimMessageBroadcastService MessageService
@inject NavigationManager NavManager

@*@implements IDisposable*@

<h3>@_renderedScrimMatchId</h3>

<div id="MatchStats" class="match-report">  @*@GetReportCss()">*@
    @*<InfantryMatchReportTeam i_TeamOrdinal=1 i_/>*@
    @*<InfantryMatchReportTeam i_TeamOrdinal=2 />*@
</div>

@code {
    [Parameter]
    public string i_scrimMatchId { get; set; }
    private string _renderedScrimMatchId { get; set; }

    #region Initialization Methods
    protected override void OnParametersSet()
    {
        //if (_showHsr != i_showHsr)
        //{
        //    _showHsr = i_showHsr;

        //    InvokeAsync(() =>
        //    {
        //        StateHasChanged();
        //    });
        //}
    }
    #endregion Initialization Methods

    //private string GetReportCss()
    //{
    //    //return _showHsr
    //    //            ? string.Empty
    //    //            : "no-hsr";
    //}

}
