@using squittal.ScrimPlanetmans.App.Pages.Shared;

<div class="scoreboard">
    <div class="outfitScoresContainer">
        <div class="outfitScoresRow team1 nc">
        <div class="outfitAlias">BAX</div><div class="outfitScore">29</div><div class="wedge"></div><div class="factionLabel">N<br/>C</div></div><div class="timerContainer">
            <div class="timer-text"><MatchTimer /></div>
        </div><div class="outfitScoresRow team2 vs">
            <div class="factionLabel">V<br/>S</div><div class="wedge"></div><div class="outfitScore">16</div><div class="outfitAlias">VKTZ</div>
        </div>
    </div>
</div>

@code {

}
