@page "/DbAdmin"

@using squittal.ScrimPlanetmans.Models;
@using squittal.ScrimPlanetmans.Services;

@inject DatabaseMaintenanceService DbMaintenance

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-7">

            <div class="header-card-container default">

            <h5>Database Maintenance</h5>

            @if (_comparisons != null && _comparisons.Any())
            {
                <table class="table-responsive-sm table-striped-light mono-font ">
                    <thead>
                        <tr>
                            <th style="vertical-align: bottom;">Collection</th>
                            <th colspan="2" style="text-align: right;">Database<br/>Count</th>
                            <th colspan="2" style="text-align: right;">Census<br />Count</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var comparison in _comparisons)
                        {
                            <DatabaseMaintenanceComparisonRow i_comparison="@comparison" />
                        }
                    </tbody>
                </table>
            }
            </div>
        </div>
    </div>
</div>


@code {
    private List<CensusStoreDataComparisonRow> _comparisons = new List<CensusStoreDataComparisonRow>();


    protected override void OnInitialized()
    {
        _comparisons = DbMaintenance.Comparisons;
    }
}
