<p style="color: red;
          border: 1px solid red;
          border-radius: 0.2rem;
          display: inline-block;
          padding: 4px 8px;
          font-weight: 600;
          background-color: white;
          box-shadow: 2px 2px 5px -1px var(--sq-light-blue-gray);
        ">
    <span class="oi oi-circle-x" style=""></span>
    @*<span>Failed to connect to the Planetside 2 Websocket! Restart the application to re-establish connection.</span>*@
    <span>@_renderedMessage</span>
</p>

@code {
    [Parameter]
    public string i_ErrorMessage { get; set; }

    private string _renderedMessage;

    protected override void OnParametersSet()
    {
        if (i_ErrorMessage != _renderedMessage)
        {
            _renderedMessage = i_ErrorMessage;

            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }
    }
}