@page "/testteamreport"

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6">
            <Test_TeamAllData i_teamOrdinal=1 />

        </div>

        <div class="col-lg-6">
            <Test_TeamAllData i_teamOrdinal=2 />
        </div>
    </div>
</div>

