@page "/Overlay"
@using squittal.ScrimPlanetmans.App.Pages.Overlay.TeamPlayers;
@using squittal.ScrimPlanetmans.App.Pages.Overlay.Scoreboard;

@*<h4 class="title">MatchOverlay</h4>*@
<MatchTitle />

@*<div class="players players1">Players 1</div>*@
@*<div class="players players2">Players 2</div>*@

<TeamPlayerStatusesContainer i_teamOrdinal=1 />
<TeamPlayerStatusesContainer i_teamOrdinal=2 />

<div class="center">

    <ScoreboardContainer />

    @*<div class="scoreboard">Scoreboard</div>*@
    <div class="killfeed">Killfeed</div>
    <div class="report">Report</div>

</div>

@code {

}
