<div id="MatchStats" class="match-report">
    <div id="T1Stats" class="team-report team1 vs">
        <div id="T1Stats-header" class="stats-row-header">
            <div class="score stats-col-header">Total Points</div>
            <div class="net stats-col-header">Net</div>
            <div class="kills stats-col-header">Kills</div>
            <div class="deaths stats-col-header">Deaths</div>
            <div class="hsr stats-col-header">HSR</div>
            <div class="assists stats-col-header">Dmg<br>Assists</div>
            <div class="utils stats-col-header">Util<br>Assists</div>
        </div>
    </div>

    <div id="T2Stats" class="team-report team2 nc">
        <div id="T2Stats-header" class="stats-row-header">
            <div class="score stats-col-header">Total Points</div>
            <div class="net stats-col-header">Net</div>
            <div class="kills stats-col-header">Kills</div>
            <div class="deaths stats-col-header">Deaths</div>
            <div class="hsr stats-col-header">HSR</div>
            <div class="assists stats-col-header">Dmg<br>Assists</div>
            <div class="utils stats-col-header">Util<br>Assists</div>
        </div>
    </div>
</div>

@code {

}
