@page "/testvehiclereport"

@using squittal.ScrimPlanetmans.App.Pages.Shared;

<div class="container-fluid">

    <p><MatchTimer /></p>

    <div class="row">

        <div class="col-lg-12">
            <Test_TeamAllVehicleData i_teamOrdinal=1 />

        </div>

        <div class="col-lg-12">
            <Test_TeamAllVehicleData i_teamOrdinal=2 />
        </div>
    </div>
</div>

