@page "/DbAdmin"
@*@inherits DatabaseMaintenanceBase*@

@using squittal.ScrimPlanetmans.Pages
@using squittal.ScrimPlanetmans.Models;
@using squittal.ScrimPlanetmans.Services;
@using squittal.ScrimPlanetmans.Services.Planetside;

@*@inject IFacilityService FacilityService
    @inject IFacilityTypeService FacilityTypeService
    @inject IItemService ItemService
    @inject IItemCategoryService ItemCategoryService
    @inject IProfileService ProfileService
    @inject ILoadoutService LoadoutService
    @inject IZoneService ZoneService
    @inject IWorldService WorldService
    @inject IFactionService FactionService*@

@inject DatabaseMaintenanceService DbMaintenance

@if (_comparisons != null && _comparisons.Any())
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Database</th>
                <th>Census</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var comparison in _comparisons)
            {
                <tr>
                    <td>@comparison.Name</td>
                    <td>
                        @comparison.StoreCount
                    </td>
                    <td>
                        @comparison.CensusCount
                    </td>
                    <td>
                        <button>Update Database</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CensusStoreDataComparisonRow> _comparisons = new List<CensusStoreDataComparisonRow>();

    //protected override void OnInitialized()
    //{

    //}

    protected override async Task OnInitializedAsync()
    {
        await DbMaintenance.SetAllCounts();

        _comparisons = DbMaintenance.Comparisons;
    }
}
