<div class="nolink-header">
    <img src="./images/squittal_icon_head.png" title="squittal" alt="squittal" />
    <span>squittal.ScrimPlanetmans</span>
    <span>squittal.ScrimPlanetmans</span>

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Match Setup</NavLink>

    <NavLink class="nav-link" href="testteamreport">Team Stats (test)</NavLink>

    <NavLink class="nav-link" href="testairvehiclereport">Air Stats (test)</NavLink>

    <NavLink class="nav-link" href="testgroundvehiclereport">Ground Stats (test)</NavLink>

    <NavLink class="nav-link" href="reports">Reports</NavLink>

    <NavLink class="nav-link" href="DbAdmin">Database</NavLink>
    
    <NavLink class="nav-link" href="rulesets">Rulesets</NavLink>
    
    <NavLink class="nav-link" href="TeamBuilder">Team Builder</NavLink>

    <NavLink class="nav-link" href="Overlay" target="_blank">Overlay</NavLink>

    <a title="Report Issues" class="external" href="https://github.com/eating-coleslaw/squittal.ScrimPlanetmans/issues" target="_blank">
        <span class="oi oi-bug"></span>
    </a>
</div>
