<div class="nolink-header">
    <img src="./images/squittal_icon_head.png" title="squittal" alt="squittal" />
    <span>squittal.ScrimPlanetmans</span>
    <span>squittal.ScrimPlanetmans</span>

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>

    <NavLink class="nav-link" href="testteamreport">Team Stats</NavLink>

    <NavLink class="nav-link" style="display: inline; vertical-align: text-top; padding: 0.5rem 1rem;" href="admin">@*class="nav-link"*@
        @*<span class="oi oi-cog" aria-hidden="true"></span> Match Setup*@
        Match Setup
    </NavLink>

    <NavLink class="nav-link" href="counter">Counter</NavLink>

    <NavLink class="nav-link" href="fetchdata">Fetch Data</NavLink>

</div>
