USE [PlanetmansDbContext]
GO

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'ItemCategory' )
BEGIN
    TRUNCATE TABLE [dbo].[ItemCategory];

    INSERT [dbo].[ItemCategory] ([Id], [Name]) VALUES (2, N'Knife')
    INSERT [dbo].[ItemCategory] ([Id], [Name]) VALUES (3, N'Pistol')
    INSERT [dbo].[ItemCategory] ([Id], [Name]) VALUES (4, N'Shotgun')
END;