USE [PlanetmansDbContext]
GO

IF EXISTS ( SELECT *
              FROM INFORMATION_SCHEMA.TABLES
              WHERE TABLE_NAME = N'MapRegion' )
BEGIN
    TRUNCATE TABLE [dbo].[MapRegion];

    INSERT [dbo].[MapRegion] ([Id], [FacilityId], [FacilityName], [FacilityTypeId], [FacilityType], [ZoneId]) VALUES (2101, 7500, N'Hvar', 4, N'Tech Plant', 2)
    INSERT [dbo].[MapRegion] ([Id], [FacilityId], [FacilityName], [FacilityTypeId], [FacilityType], [ZoneId]) VALUES (2102, 4401, N'Mao', 4, N'Tech Plant', 2)
    INSERT [dbo].[MapRegion] ([Id], [FacilityId], [FacilityName], [FacilityTypeId], [FacilityType], [ZoneId]) VALUES (2103, 4001, N'Allatum', 3, N'Bio Lab', 2)
    GO
END;